<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <title>Dampflokdinner Mission Control</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div class="row column">
                <h1 v-on:click="clearCache">Dampflokdinner Mission Control</h1>
            </div>
        </header>
        <main class="row pure-g">
            <section v-for="section in config.sections" class="columns pure-u-1-4" :class="section.name">
                <h3>
                    <i class="material-icons">{{ section.icon }}</i> {{ section.text }}
                </h3>
                <ul :id="section.name">
                    <li v-for="(train, index) in section.trains">
                        <div class="train" :class="train.name" v-on:click="moveTrain(train, section)">
                            <div class="desc">{{train.name}}</div>
                            <div class="rail">{{train.rail}}</div>
                        </div>
                    </li>
                </ul>
            </section>
        </main>
        <footer>
            <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
                    target="_blank">CC 3.0 BY</a></div>
        </footer>
    </div>

    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="config.js"></script>

    <script>
        var STORAGE_KEY = 'ddd-config'
        var settingsStorage = {
            fetch: function() {
                var settings = JSON.parse(localStorage.getItem(STORAGE_KEY)) || defaultConfig;
                return settings;
            },
            save: function(settings) {
                localStorage.setItem(STORAGE_KEY, JSON.stringify(settings));
            },
            remove: function() {
                localStorage.removeItem(STORAGE_KEY);
            }
        }
        var app = new Vue({
            el: '#page',
            data: {
                config: settingsStorage.fetch()
            },
            methods: {
                moveTrain: function(train, section) {
                    var config = this.config;
                    var oldIndex = config.sections.indexOf(section);
                    var newIndex = oldIndex + 1 >= config.sections.length ? 0 : oldIndex + 1;
                    var trainIndex = section.trains.indexOf(train);

                    console.log("moving train (" + train.name + ") from " + config.sections[oldIndex].name + " to " + config.sections[newIndex].name);
                    config.sections[oldIndex].trains.splice(trainIndex, 1);
                    config.sections[newIndex].trains.push(train);
                    settingsStorage.save(this.config);
                },
                clearCache: function() {
                    if (confirm("Reset?")) {
                        settingsStorage.remove();
                        location.reload();
                    }
                }
            }
        });
    </script>
</body>

</html>